<header class="header">
    <div class="header-container container">
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-list-item"><a class="header-list-link" href="#how-it-works">How It Works</a></li>
                <li class="header-list-item"><a class="header-list-link" href="#vegetables">Vegetables</a></li>
                <li class="header-list-item"><a class="header-list-link" href="#contacts">Contacts</a></li>
            </ul>
            <a class="header-link" href="./index.html">
                <svg class="header-logo-svg" width="16" height="16">
                    <use href=""></use>
                </svg>
                <span class="header-logo-text">veggieboost</span></a>
        </nav>
        <button type="button" class="header-basket-btn" data-modal-open>
            <svg class="basket-svg" width="20">
                <use href=""></use>
            </svg>
        </button>
        <button type="button" class="burger-btn" data-menu-open>
            <svg class="burger-svg" width="20">
                <use href=""></use>
            </svg>
        </button>
    </div>

</header>
<div class="menu-backdrop is-hidden" data-menu>
    <div class="menu-window">
        <!-- <button type="button" class="close-menu-btn" data-menu-close>
            <svg class="close-menu-icon" width="12" height="12">
                <use href=""></use>
            </svg>
        </button> -->
        <ul class="menu-list">
            <li class="menu-list-item"><a class="menu-list-link" href="#how-it-works">How It Works</a></li>
            <li class="menu-list-item"><a class="menu-list-link" href="#vegetables">Vegetables</a></li>
            <li class="menu-list-item"><a class="menu-list-link" href="#contacts">Contacts</a></li>
        </ul>
        <button type="button" class="menu-basket-btn" data-modal-open>
            <svg class="basket-svg" width="20" height="20">
                <use href=""></use>
            </svg>
        </button>
    </div>
</div>