<header class="header">
    <div class="header-container container">
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-list-item"><a class="header-list-link" href="#how-it-works">How It Works</a></li>
                <li class="header-list-item"><a class="header-list-link" href="#vegetables">Vegetables</a></li>
                <li class="header-list-item"><a class="header-list-link" href="#contacts">Contacts</a></li>
            </ul>
            <a class="header-link" href="./index.html">
                <svg class="header-logo-svg" width="16" height="16">
                    <use href="./img/sprite-icons.svg#icon-logo"></use>
                </svg>
                <span class="header-logo-text">veggieboost</span></a>
        </nav>
        <button type="button" class="header-basket-btn js-open-modal" data-modal="1">
            <svg class="header-basket-svg" width="20" height="20">
                <use href="./img/sprite-icons.svg#icon-shopping-cart"></use>
            </svg>
        </button>
        <button type="button" class="burger-button" data-burger data-menu-open>
            <svg class="burger-svg" width="24">
                <use href="./img/sprite-icons.svg#icon-menu-burger"></use>
            </svg>
        </button>
    </div>

</header>
<div class="menu-backdrop is-hidden" data-menu>
    <div class="menu-top-window">
        <button type="button" class="close-menu-btn" data-menu-close>
            <svg class="close-menu-svg" width="12" height="12">
                <use href="./img/sprite-icons.svg#icon-x"></use>
            </svg>
        </button>
    </div>
    <div class="menu-bottom-window">
        <ul class="menu-list">
            <li class="menu-list-item"><a class="menu-list-link" href="#how-it-works">How It Works</a></li>
            <li class="menu-list-item"><a class="menu-list-link" href="#vegetables">Vegetables</a></li>
            <li class="menu-list-item"><a class="menu-list-link" href="#contacts">Contacts</a></li>
        </ul>
        <button type="button" class="menu-basket-btn js-open-modal" data-modal="1">
            <svg class="menu-basket-svg" width="20" height="20">
                <use href="./img/sprite-icons.svg#icon-shopping-cart"></use>
            </svg>
        </button>
    </div>
</div>