<section class="hero hero-background">
  <div class="container">
    <div class="avatars">
      <a href="" class="img">
        <div class="avatar-button image-cropper">
          <img src="./img/user1.jpeg" alt="" />
        </div>
      </a>
      <a href="" class="img">
        <div class="avatar-button image-cropper">
          <img src="./img/user2.jpeg" alt="" />
        </div>
      </a>
      <a href="" class="img">
        <div class="avatar-button image-cropper">
          <img src="./img/user3.jpeg" alt="" />
        </div>
      </a>
      <a href="" class="img">
        <div class="avatar-button image-cropper last-avatar">
          <span class="last-avatar-text">2K</span>
          <span class="last-avatar-text2">reviews</span>
        </div>
      </a>
    </div>
    <div class="first-section">
      <h1 class="hero-header">
        organic <span class="hero-span">vegetables</span> to your diet today!
      </h1>
      <p class="hero-p">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <button class="shop-now-button" type="button">Shop Now</button>

    <div class="hero-image">
      <div class="hero-background-image"></div>
      <img src="./img/hero-image.png" alt="" />
    </div>
    <div class="hero-filters-wrapper">
      <div class="hero-filters">
        <button type="button" class="hero-button-filters button-filter">
          #Organic
        </button>
        <button type="button" class="hero-button-filters button-filter">
          #Products
        </button>
        <button type="button" class="hero-button-filters button-filter">
          #Basket
        </button>
        <button type="button" class="hero-button-filters button-filter">
          #Vegetables
        </button>
      </div>
    </div>
  </div>
</section>
