<section class="hero-background">
  <div class="container">
    <div class="hero-container">
      <div class="hero-box1">
        <ul class="avatars">
          <li class="avatar">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/user1-desktop.png    1x,
                  ./img/user1-desktop@2x.png 2x
                "
                width="66"
                height="66"
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/user1-tab.png 1x, ./img/user1-tab@2x.png 2x"
                width="50"
                height="50"
              />
              <source
                media="(max-width: 767px)"
                srcset="./img/user1.png 1x, ./img/user1@2x.png 2x"
                width="40"
                height="40"
              />
              <img src="./img/user1.png" alt="woman" />
            </picture>
          </li>
          <li class="avatar">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/user2-desktop.png    1x,
                  ./img/user2-desktop@2x.png 2x
                "
                width="66"
                height="66"
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/user2-tab.png 1x, ./img/user2-tab@2x.png 2x"
                width="50"
                height="50"
              />
              <source
                media="(max-width: 767px)"
                srcset="./img/user2.png 1x, ./img/user2@2x.png 2x"
                width="40"
                height="40"
              />
              <img src="./img/user2.png" alt="user2" />
            </picture>
          </li>
          <li class="avatar">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/user3-desktop.png    1x,
                  ./img/user3-desktop@2x.png 2x
                "
                width="66"
                height="66"
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/user3-tab.png 1x, ./img/user3-tab@2x.png 2x"
                width="50"
                height="50"
              />
              <source
                media="(max-width: 767px)"
                srcset="./img/user3.png 1x, ./img/user3@2x.png 2x"
                width="40"
                height="40"
              />
              <img src="./img/user3.png" alt="avatar3" />
            </picture>
          </li>
          <li class="avatar last-avatar">
            <span class="last-avatar-text">2K</span>
            <span class="last-avatar-text2">reviews</span>
          </li>
        </ul>
        <div class="first-section">
          <h1 class="hero-header">
            organic <span class="hero-span">vegetables</span> to your diet
            today!
          </h1>
          <p class="hero-p">
            Our expertly curated vegetable baskets are made with the freshest,
            highest quality vegetables available. Fresh Harvest Box has got you
            covered. Fresh, high-quality vegetables in expertly curated
            vegetable baskets delivered to you.
          </p>
        </div>
        <button
          class="shop-now-button js-open-modal"
          data-modal="1"
          type="button"
        >
          Shop Now
        </button>
      </div>
      <div class="hero-box2">
        <div class="hero-image">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/hero-image-desktop-optim.png    1x,
                ./img/hero-image-desktop-optim@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-image-tablet-optim.png    1x,
                ./img/hero-image-tablet-optim@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-image-optim.png    1x,
                ./img/hero-image-optim@2x.png 2x
              "
            />
            <img src="./img/hero-image-optim.png" alt="woman" />
          </picture>
        </div>
      </div>
      <div class="hero-filters-wrapper">
        <div class="hero-filters">
          <button type="button" class="hero-button-filters button-filter">
            #Organic
          </button>
          <button type="button" class="hero-button-filters button-filter">
            #Products
          </button>
          <button type="button" class="hero-button-filters button-filter">
            #Basket
          </button>
          <button type="button" class="hero-button-filters button-filter">
            #Vegetables
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
