<div class="container how-it-works-2">
   <div class="how-it-works-2-text">
        <p class="list-heading">3 Easy Steps for Buying Fresh Vegetables</p>
        <ol class="ordered-list">
            <li class="ol-item">
                <p class="ol-number">1</p>
                <p class="ol-item-text">
                Just choose the vegetable you want to order by clicking on the checkboxes next to it.</p>
            </li>
            <li class="ol-item">
                <p class="ol-number">2</p>
                <p class="ol-item-text">
                    Click on the basket and fill out the form.</p>
            </li>
            <li class="ol-item">
                <p class="ol-number">3</p>
                <p class="ol-item-text">
                    Sit back and relax! Your fresh vegetables basket will be delivered.</p>
            </li>
        </ol>
   </div>
    <img srcset="./img/girl-in-red-hat-2x.png 2x" src="./img/girl-in-red-hat.png" alt="Camila Garcia" width="264" height="260">
</div>