<div class="how-it-works-1">
    <div class="works-wrap-title">
        <h1 class="works-title">To order your vegetable basket, simply follow these easy steps</h1>
        <picture>
            <source media="(min-width: 1280px)" srcset="
                ./img/vegetables-desk.png 1x,
                ./img/vegetables-desk-2x.png 2x" width="410" height="170" />
            <source media="(min-width: 768px)" srcset="
                ./img/vegetables-tab.png 1x,
                ./img/vegetables-tab-2x.png 2x" width="310" height="176" />
            <img srcset="./img/vegetables-mob-2x.png 2x" src="./img/vegetables-mob.png" alt="vegetables" width="335"
                height="158" />
        </picture>
    </div>
    <div class="works-wrap-text">
        <p class="works-text works-text-1">Our baskets are assembled with care and delivered straight to your doorstep,
            so you can enjoy the taste of fresh fruit without ever leaving your home. </p>
        <p class="works-text works-text-2">Whether you're looking for a healthy snack or a thoughtful gift, our fruit
            baskets are the perfect choice.</p>
    </div>
</div>