<section id="vegetables" class="vegetables">
  <div class="container">
    <h2 class="vegetables-title">Organic vegetables</h2>
    <p class="vegetables-sub-title">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-card">
      <li class="vegetables-item">
        <h3 class="card-title">Carrot</h3>
        <p class="card-label">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/carrot_desk-min.png    1x,
              ./img/carrot_desk@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/carrot_tab-min.png 1x, ./img/carrot_tab@2x-min.png 2x"
            width="321"
            height="261"
          />
          <img
            srcset="./img/carrot_mob@2x-min.png 2x"
            src="./img/carrot_mob-min.png"
            alt="Carrot"
            width="292"
            height="249"
            class="veg-img"
          />
        </picture>
        <p class="card-price">100 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="card-title">Brussel sprouts</h3>
        <p class="card-label">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/brussel_desk-min.png    1x,
              ./img/brussel_desk@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/brussel_tab-min.png    1x,
              ./img/brussel_tab@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <img
            srcset="./img/brussel_mob@2x-min.png 2x"
            src="./img/brussel_mob-min.png"
            alt="Brussel"
            width="292"
            height="249"
            class="veg-img"
          />
        </picture>
        <p class="card-price">80 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="card-title">Tomato</h3>
        <p class="card-label">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/tomato_desk-min.png    1x,
              ./img/tomato_desk@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/tomato_tab-min.png 1x, ./img/tomato_tab@2x-min.png 2x"
            width="321"
            height="261"
          />
          <img
            srcset="./img/tomato_mob@2x-min.png 2x"
            src="./img/tomato_mob-min.png"
            alt="Tomato"
            width="292"
            height="249"
            class="veg-img"
          />
        </picture>
        <p class="card-price">40 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="card-title">Eggplant</h3>
        <p class="card-label">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/eggplant_desk-min.png    1x,
              ./img/eggplant_desk@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/eggplant_tab-min.png    1x,
              ./img/eggplant_tab@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <img
            srcset="./img/eggplant_mob@2x-min.png 2x"
            src="./img/eggplant_mob-min.png"
            alt="Eggplant"
            width="292"
            height="249"
            class="veg-img"
          />
        </picture>
        <p class="card-price">60 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="card-title">Sweet potatoes</h3>
        <p class="card-label">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/potatoes_desk-min.png    1x,
              ./img/potatoes_desk@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/potatoes_tab-min.png    1x,
              ./img/potatoes_tab@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <img
            srcset="./img/potatoes_mob@2x-min.png 2x"
            src="./img/potatoes_mob-min.png"
            alt="Potatoes"
            width="292"
            height="249"
            class="veg-img"
          />
        </picture>
        <p class="card-price">80 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="card-title">Leek</h3>
        <p class="card-label">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./img/leek_desk-min.png 1x, ./img/leek_desk@2x-min.png 2x"
            width="321"
            height="261"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/leek_tab-min.png 1x, ./img/leek_tab@2x-min.png 2x"
            width="321"
            height="261"
          />
          <img
            srcset="./img/leek_mob@2x-min.png 2x"
            src="./img/leek_mob-min.png"
            alt="Leek"
            width="292"
            height="249"
            class="veg-img"
          />
        </picture>
        <p class="card-price">50 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="card-title">Mushrooms</h3>
        <p class="card-label">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/mushrooms_desk-min.png    1x,
              ./img/mushrooms_desk@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/mushrooms_tab-min.png    1x,
              ./img/mushrooms_tab@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <img
            srcset="./img/mushrooms_mob@2x-min.png 2x"
            src="./img/mushrooms_mob-min.png"
            alt="Mushrooms"
            width="292"
            height="249"
            class="veg-img"
          />
        </picture>
        <p class="card-price">40 UAH / kg</p>
      </li>
      <li class="vegetables-item">
        <h3 class="card-title">Corn</h3>
        <p class="card-label">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./img/corn_desk-min.png 1x, ./img/corn_desk@2x-min.png 2x"
            width="321"
            height="261"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/corn_tab-min.png 1x, ./img/corn_tab@2x-min.png 2x"
            width="321"
            height="261"
          />
          <img
            srcset="./img/corn_mob@2x-min.png 2x"
            src="./img/corn_mob-min.png"
            alt="Corn"
            width="292"
            height="249"
            class="veg-img"
          />
        </picture>
        <p class="card-price">60 UAH / kg</p>
      </li>
      <li class="vegetables-item only-desk">
        <h3 class="card-title">Radish</h3>
        <p class="card-label">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/radish_desk-min.png    1x,
              ./img/radish_desk@2x-min.png 2x
            "
            width="321"
            height="261"
          />
          <img src="./img/radish_desk-min.png" alt="Radish" class="veg-img" />
        </picture>
        <p class="card-price">90 UAH / kg</p>
      </li>
    </ul>
    <div class="center_btn">
      <button type="button" class="vegetables-btn" data-order-modal-open>
        <div class="wrapper-veg-btn">
          <svg class="vegetables-icon" width="14" height="14">
            <use href="./img/sprite-icons.svg#icon-arrow"></use>
          </svg>
          <span class="card-btn-text">Order</span>
        </div>
      </button>
    </div>
  </div>
</section>
