<section class="we-will-call">
    <div class="will-call-container container">
    <div class="call-container">
    <h2 class="call-text-top">Fresh Harvest Box has got you covered</h2>
    <p class="call-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local
    farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    <form class="call-form">
        <label for="call-label" class="call-label">
            <div class="call-label-container">
            <input id="call-label" type="tel" pattern="[0-9]" placeholder="+380 ()" name="user-tel" class="call-input">
            <input type="submit" class="call-btn" value="Recall">
            </div>
        </label>
    </form>
    </div>
    <div class="call-img-container">
    <img class="call-img"
    srcset=""
    src=""
    alt="Woman Holding Broccoli"
    width="525"
    />
    </div>
    </div>
</section>