<section class="we-will-call">
    <div class="will-call-container container">
    <div class="call-container">
    <h2 class="call-text-top">Fresh Harvest Box has got you covered</h2>
    <p class="call-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local
    farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    <form class="call-form">
        <label for="call-label" class="call-label">
            <div class="call-label-container">
            <input id="call-label" type="tel" pattern="[0-9]" placeholder="+380 ()" name="user-tel" class="call-input">
            <input type="submit" class="call-btn" value="Recall">
            </div>
        </label>
    </form>
    </div>
    <div class="call-img-container">
    <picture class="will-call-picture">
        <source srcset="./img/girl-desk-1x-min.png 1x, ./img/girl-desk-2x-min.png 2x" media="(min-width: 1280px)" width="525" height="499" />
        <source srcset="./img/girl-tab-1x-min.png 1x, ./img/girl-tab-2x-min.png 2x" media="(min-width: 768px)" width="629" height="446" />
        <img srcset="./img/girl-2x-min.png 2x" src="./img/girl-1x-min.png" alt="Woman Holding Broccoli" width="335" height="357">
    </picture>
    </div>
    </div>
</section>