<div class="overlay js-overlay-modal">
  <div class="order-modal" data-modal="1">
    <button class="order-modal-close js-modal-close">
      <svg class="order-modal-icon" width="24" height="24">
        <use href="./img/sprite-icons.svg#icon-x"></use>
      </svg>
    </button>

    <h2 class="order-modal-title">Your Order</h2>

    <form class="order-modal-form">
      <ul class="order-modal-checkbox">
        <li class="checkbox-box">
          <h3 class="checkbox-box-name">Cabbage Basket</h3>
          <p class="checkbox-box-text">Plant</p>
          <label for="user-check-1" class="checkbox-label">
            <input
              class="checkbox-input visually-hidden"
              type="checkbox"
              name="user-check-1"
              id="user-check-1"
            />
            <span class="checkbox-span">
              <svg class="checkbox-icon" width="8" height="8">
                <use href="./img/sprite-icons.svg#icon-pick"></use>
              </svg>
            </span>
          </label>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/cabbage-desktop.png    1x,
                ./img/cabbage-desktop-2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/cabbage-tablet.png    1x,
                ./img/cabbage-tablet-2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/cabbage-mob.png 1x, ./img/cabbage-mob-2x.png 2x"
            />
            <img
              class="checkbox-img"
              src="./img/cabbage-desktop.png"
              alt="cabbage"
            />
          </picture>
        </li>

        <li class="checkbox-box">
          <h3 class="checkbox-box-name">Tomato Basket</h3>
          <p class="checkbox-box-text">Plant</p>
          <label for="user-check-2" class="checkbox-label">
            <input
              class="checkbox-input visually-hidden"
              type="checkbox"
              name="user-check-2"
              id="user-check-2"
            />
            <span class="checkbox-span">
              <svg class="checkbox-icon" width="8" height="8">
                <use href="./img/sprite-icons.svg#icon-pick"></use>
              </svg>
            </span>
          </label>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/tomato-desktop.png    1x,
                ./img/tomato-desktop-2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="./img/tomato-tablet.png 1x, ./img/tomato-tablet-2x.png 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/tomato-mob.png 1x, ./img/tomato-mob-2x.png 2x"
            />
            <img
              class="checkbox-img"
              src="./img/tomato-desktop.png"
              alt="tomato"
            />
          </picture>
        </li>

        <li class="checkbox-box">
          <label class="checkbox-label" for="user-check-3">
            <input
              class="checkbox-input visually-hidden"
              type="checkbox"
              name="user-check-3"
              id="user-check-3"
            />
            <span class="checkbox-span">
              <svg class="checkbox-icon" width="8" height="8">
                <use href="./img/sprite-icons.svg#icon-pick"></use>
              </svg>
            </span>
          </label>
          <h3 class="checkbox-box-name">Vegetables Basket</h3>
          <p class="checkbox-box-text">Plant</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables-desktop.png    1x,
                ./img/vegetables-desktop-2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables-basket-tablet.png    1x,
                ./img/vegetables-basket-tablet-2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables-basket-mob.png    1x,
                ./img/vegetables-basket-mob-2x.png 2x
              "
            />
            <img
              class="checkbox-img"
              src="./img/vegetables-desktop.png"
              alt="vegetables-basket"
            />
          </picture>
        </li>
      </ul>

      <div class="form-thumb">
        <div class="modal-input-box">
          <label class="order-modal-label" for="user-name"></label>
          <input
            class="order-modal-input"
            placeholder="Enter full name..."
            type="text"
            name="user-name"
            id="user-name"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username must be two words separated by space"
          />
        </div>

        <div class="modal-input-box">
          <label class="order-modal-label" for="user-email"></label>
          <input
            placeholder="Enter email..."
            class="order-modal-input"
            type="email"
            name="user-email"
            id="user-email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
          />
        </div>

        <div class="modal-input-box">
          <label class="order-modal-label" for="user-order"></label>
          <input
            class="order-modal-input"
            placeholder="Enter card.."
            type="text"
            name="user-order"
            id="user-order"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Please enter email for example: tomato basket"
          />
        </div>

        <div class="modal-input-box">
          <label class="order-modal-label" for="user-comment"></label>
          <textarea
            class="order-modal-textarea"
            placeholder="Enter comments..."
            name="user-comment"
            id="user-comment"
            maxlength="300"
          ></textarea>
        </div>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/modal-girl-desktop.png    1x,
            ./img/modal-girl-desktop-2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/modal-girl-tablet.png    1x,
            ./img/modal-girl-tablet-2x.png 2x
          "
        />
        <img
          class="ordel-modal-picture"
          src="../img/modal-girl-desktop.png"
          alt="girl"
        />
      </picture>
      <button class="order-modal-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
