


.footer-page {
     background: var(--light-green-color);
     padding-top: 80px;
     padding-bottom: 80px;
  
}


  .footer-container{
     display:flex;
     flex-direction: column;
     gap: 40px;
     text-align: center;
    
}
 

.foto-logo-footer{
     border-radius: 100px;
     background: url(<path-to-image>), lightgray 0px -43.24px / 100% 194.972% no-repeat;
     margin-bottom: 20px;
}


.footer-logo-link {
     display: flex;
     justify-content: center;
     gap: 8px;
     margin-bottom: 40px;
}


.foto-logo-container {
      display: flex;
      flex-direction: column;
}

.footer-logo-text{
     color: var(--dark-color);
     font-size: 14px;
     font-weight: 700;
     line-height: 1.28;
     letter-spacing: -0.56px;
     text-transform: uppercase;
}


.footer-menu-list {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
}


.footer-menu-link{

     color: var(--dark-color);
     font-size: 14px;
     line-height: 1.28;
     letter-spacing: -0.56px;
     display: block;
     transition: color var(--transition-duration-timing-function);
   
}

.footer-menu-link:hover,
.footer-menu-link:focus {
     color: var(--green-color);
}



.social-menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  
}


.social-list-link{
     display: flex;
     justify-content: center;
     align-items: center;
     color: #141414;
     border-radius: 10px;
     border: 1px solid #141414;
     width: 40px;
     height: 40px;
     fill: var(--dark-color);
     transition: color var(--transition-duration-timing-function), border-color var(--transition-duration-timing-function);
}


.social-list-link:hover,
.social-list-link:focus{
     color: var(--green-color);
     border-color: var(--green-color);
    
}
.icon-hover:hover,
.icon-hover:focus{
     color: var(--green-color);
}
    
.icon-hover{
     fill: currentColor;

}


.footer-address{
     display: inline-block;
     font-style: normal;
   
}

.footer-address-link{
     max-width: 143px;
     color: var(--dark-color);
     text-align: center;
     font-size: 14px;
     font-style: normal;
     line-height: 1.28;
     text-transform: uppercase;
     margin-bottom: 20px;
     display: block;
    
}
.footer-contacts {
     max-width: 135px;
     color: var(--dark-color);
     text-align: center;
     font-size: 14px;
     font-style: normal;
     line-height: 1.28;
     letter-spacing: -0.28px;
     margin: 0 auto;
    
}
    

@media screen and (min-width: 768px) {

 
.footer-container {
      
     flex-wrap: nowrap;
     flex-direction: row;
     align-items: start;
     margin-left: auto;
     margin-right: auto;
     gap: 171px;
     justify-content: space-between;
    }


.social-menu-list{
        
     margin-bottom: 40px;
     justify-content: start;
    }
        

.footer-address-link{
     max-width: 184px;
     text-align: start;
     font-size: 18px;
     font-style: normal;
     line-height: 1.3;
    
    
}
.footer-contacts {
     max-width: 173px;
     text-align: start;
     font-size: 18px;
     line-height: 1.3;
     letter-spacing: -0.36px;
    
}



}

@media screen and (min-width: 1280px) {
    
  
.footer-container {
    
     justify-content: flex-start;
     flex-wrap: nowrap;
     align-items: center;
     row-gap: 0;
     column-gap: 0;
     margin: 0 auto;
   
    }
   

.footer-container-logo{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     margin-right: 166px;
   
}

.foto-logo-container{
     margin-right: 166px;
}

.footer-logo-link {
     margin-bottom: 0;
}

.footer-menu-list {
      
     text-align: center;
     padding-bottom: 15px;
    
   }


}

    
