@media screen and (max-width: 374px) {
    .list-heading {
        font-size: 22px;
    }

    .ol-number{
        width: 36px;
        height: 34px;
    }

}


.how-it-works-2{
    padding: 40px 20px 0;
    /* margin-bottom: 80px; */
    background-color: var(--light-orange-color);
    border-radius: 40px;

    
    background-image: url(./img/bg.png);
    background-size: cover;     
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .how-it-works-2 {
        background-image: url(../img/bg-2x.png);
    }
}


.list-heading{
    color: var(--dark-color);
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.96px;
    text-transform: uppercase;

    text-align: start;
    margin-bottom: 40px;

}

.ordered-list{
    margin-bottom: 20px;
}


.ol-item{
    display: flex;
    gap: 14px;
}

.ol-item:not(:last-child){
    margin-bottom: 20px;
}

.ol-number{
    color: var(--dark-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.72px;

    border-radius: 200px;
    background-color: #A1C487;
    width: 40px;
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.ol-item-text{
    color: var(--dark-color);
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;

    width: 176px;

}

@media screen and (min-width: 768px) {
    .how-it-works-2 {
        min-width: 704px;
        border-radius: 80px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 40px;

        background-image: url(../img/bg-tab.png);
        
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .how-it-works-2 {
            background-image: url(../img/bg-tab-2x.png);
        }
    }

    .how-it-works-2-text{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .list-heading{
        font-size: 28px;
        line-height: 1.14;
        width: 274px;
    }

    .ordered-list {
        margin-bottom: 80px;
    }

    .ol-number{
        line-height: 1.33;
    }


}

@media screen and (min-width: 1280px) {
    .how-it-works-2 {
        min-width: 1216px;
        gap: 110px;

        background-image: url(../img/bg-deck.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .how-it-works-2 {
            background-image: url(../img/bg-deck-2x.png);
        }
    }

    

    .list-heading {
        font-size: 40px;
        line-height: 1.10;
        width: 512px;
    }

    .ol-item-text{
        width: 289px;
    }

    .ol-item:nth-child(2) > .ol-item-text{
        width: 166px;
    }

}
