body {
    font-family: 'DM Sans', sans-serif;
    color: var(--dark-color);
    background-color: var(--white-color);
}

:root {
    --dark-color: #141414;
    --green-color: #A1C487;
    --light-green-color: #EAF7E5;
    --orange-color: #FC8A11;
    --light-orange-color: #FAF3E7;
    --light-gray-color: #F3F3F3;
    --hero-btn-hover-color: #F9F7F4;
    --white-color: #fff
}

.container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;

}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}